<h2>商品詳細</h2>
<%= attachment_image_tag @item, :image %>
<p>商品名<%= @item_name %></p>
<p>商品説明<%= @item_introduction %></p>
<p>ジャンル<%= @item_genre_name %></p>
<p>税込価格（税抜価格）<%= @item_with_tax_price %>(<%= @item_price %>)</p>
<P>
  販売ステータス
  <% if @item_is_active == true %>
    販売中
  <% else %>
    販売中止
  <% end %>
</P>
<%= link_to "編集する", edit_admin_item_path %>