<div class="container">
  <h2 class="my-3">会員一覧</h2>
  <table class="mb-5">
    <thead>
      <tr>
        <th width="20%">会員ID</th>
        <th width="20%">氏名</th>
        <th width="20%">メールアドレス</th>
        <th width="20%">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer|  %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active == true %>
            <p>有効</p>
          <% else %>
            <p>退会</p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center" ttyle="width: 200px;">
    <%= paginate @customers %>
  </div>
</div>