<div class="container">
<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
  <div>
    <p>会員ID<span class="ml-3"><%= @customer.id %></span></p>
    <p>氏名<span class="ml-3"><%= @customer.last_name %><%= @customer.first_name %></span></p>
    <p>フリガナ<span class="ml-3"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></span></p>
    <p>郵便番号<span class="ml-3"><%= @customer.postal_code %></span></p>
    <p>住所<span class="ml-3"><%= @customer.address %></span></p>
    <p>電話番号<span class="ml-3"><%= @customer.telephone_number %></span></p>
    <p>メールアドレス<span class="ml-3"><%= @customer.email %></span></p>
    <p>
      会員ステータス
      <% if @customer.is_active == true %>
        <span class="ml-3">有効</span>
      <% else %>
        <span class="ml-3">退会</span>
      <% end %>
    </p>
  </div>
  <div  class="text-center">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success m-3" %>
    <%= link_to "注文履歴一覧を見る",  admin_root_path, class: "btn btn-primary m-3" %>
  </div>
</div>