<div class="container">
  <h2>配送先編集</h2>
  <div>
    <%= form_with model: @address, url:  address_path, local: true do |f| %>
      <div class="field">
        <p class"m-3">
          <%= f.label :郵便番号（ハイフンなし） %>
          <span class="ml-3">
            <%= f.text_field :postal_code %>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="m-3">
          <%= f.label :住所 %>
          <span class="ml-5">
            <%= f.text_field :address %>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="m-3">
          <%= f.label :宛名 %>
          <span class="ml-5">
            <%= f.text_field :name %>
          </span>
        </p>
      </div>
      <div class="actions text-right">
        <%= f.submit "変更内容を保存", class: "btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>