<div class="container">
  <h2>配送先登録/一覧</h2>
    <% if @address.errors.any? %>
    <%= @address.errors.count %>件のエラーが発生しました
    <% @address.errors.full_messages.each do |message| %><br>
      <%= message %><br>
    <% end %>
  <% end %>
  <div class="row">
    <%= form_with model: @address, url: addresses_path, local: true do |f| %>
    <!--customerのidを送る-->
    <%= f.hidden_field :customer_id, value: @customer.id %>
      <div class="field">
        <p class="m-3">
          <%= f.label :郵便番号 %>
          <span class="ml-3">
            <%= f.text_field :postal_code %>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="m-3">
          <%= f.label :住所 %>
          <span class="ml-5">
            <%= f.text_field :address %>
          </span>
        </p>
      </div>
      <div class="field">
        <p class=""m-3>
          <%= f.label :宛名 %>
          <span class="ml-5">
            <%= f.text_field :name %>
          </span>
        </p>
      </div>
      <div class="actions text-right">
        <%= f.submit "新規登録", class: "btn-sm btn-success " %>
      </div>
    <% end %>
  </div>
  <table class="my-5" border="1">
    <thead>
      <tr>
        <th width=100px height=50px>郵便番号</th>
        <th width=300px>住所</th>
        <th width=100>宛名</th>
        <th width=200 colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td height=50px><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class=text-center colspan="2">
          <%= link_to "編集する", edit_address_path(address), class: "btn-sm btn-success" %>
          <%= link_to "削除する",  address_path(address), method: :delete, class: "btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>