<div class="container">
  <h2>管理者ログイン</h2>

  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

    <div class="field mt-3">
      <p>
        <%= f.label :メールアドレス %>
        <span class="ml-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </span>
      </p>
    </div>

    <div class="field mt-3">
      <p>
        <%= f.label :パスワード %>
        <span class="ml-5">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </span>
      </p>
    </div>


    <div class="actions">
      <%= f.submit "ログイン", class: "btn-sm btn-primary mb-3" %>
    </div>
  <% end %>
</div>