<div class="container">
  <h2>ログイン</h2>
  <p>会員の方はこちらからログイン</p>

  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

    <div class="field mt-3">
      <%= f.label :メールアドレス %>
       <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ml-3" %>
    </div>

    <div class="field my-3">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password", class: "ml-5" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn-sm btn-primary btn-lg center-block" %>
    </div>
  <% end %>

　<h2>会員登録がお済みでない方</h2>
  <%= render "devise/shared/links" %>
</div>
