<div>
  <h2>注文履歴一覧</h2>
  <di>
    <table>
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <%  @orders.each do |order| %>
        <tr>
          <!--created_atの後ろにstrftime('%/Y/%/m/%/d')で西暦と日付-->
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= order.address %></td>
          <td>
            <!--何処からデータを持って来るか考えて書くこと-->
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
            <% end %>
          </td>
          <td><%= order.total_payment %></td>
          <td><%=order.status %></td>
          <td><%= link_to "表示する",order_path(order), class: "btn btn-success" %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </di>
</div>