<%= link_to root_path do %>
        <%= image_tag 'スクリーンショット.png',  size: '250x90' %>
      <% end %>
       <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "商品一覧", items_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>