      <%= link_to root_path do %>
        <%= image_tag 'スクリーンショット.png', size: '250x90' %>
      <% end %>
      <P>ようこそ、<%= current_customer.last_name %>さん！</P>
      <li>
        <%= link_to "マイページ", my_page_path %>
      </li>
      <li>
        <%= link_to "商品一覧", items_path %>
      </li>
      <li>
        <%= link_to "カート", cart_items_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>