<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top"> <!--横並びになる-->
      <div class="container">
        <% if admin_signed_in? %>
          <%= render 'layouts/header_admin' %>
        <% elsif customer_signed_in?  %>
          <%= render 'layouts/header_customer' %>
        <% else %>
          <%= render 'layouts/header' %>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="text-center">
        <p>CopyRight nagano-cafe.inc</p>
      </div>
    </footer>
  </body>
</html>
